/Token
/images
/RankedRoleConfig
/logs
/Questions/*
my_DB
depricted functions
config.ini
errorLog
log_file.log
log_file2.log
log.txt
monitor.py
My_DB-shm
My_DB-wal
TODO.txt
games.db
games.db-journal
discord_ui_reference.txt
game_unlock_conditions.txt